################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/ProjectEvaluation
/.vs/TPHunter/DesignTimeBuild/.dtbcache.v2
/.vs/TPHunter/FileContentIndex
/.vs/TPHunter/v17/.wsuo
/.vs/TPHunter/v17/.suo
/.vs/TPHunter/v17/.futdcache.v2
/.vs/VSWorkspaceState.json
/Shared/Scrapper/TPHunter.Shared.Scrapper/bin/Debug/net5.0
/Shared/Scrapper/TPHunter.Shared.Scrapper/obj
/Shared/Utility/TPHunter.Shared.Utility.ApiUtility/obj
/Source/TPHunter.Source.Browser/bin/Debug/net5.0/TPHunter.Source.Core.pdb
/Source/TPHunter.Source.Browser/bin/Debug/net5.0/TPHunter.Source.Core.dll
/Source/TPHunter.Source.Browser/bin/Debug/net5.0/TPHunter.Source.Browser.pdb
/Source/TPHunter.Source.Browser/bin/Debug/net5.0/TPHunter.Source.Browser.dll
/Source/TPHunter.Source.Browser/obj/TPHunter.Source.Browser.csproj.nuget.g.targets
/Source/TPHunter.Source.Browser/obj/TPHunter.Source.Browser.csproj.nuget.g.props
/Source/TPHunter.Source.Browser/obj/TPHunter.Source.Browser.csproj.nuget.dgspec.json
/Source/TPHunter.Source.Browser/obj/project.nuget.cache
/Source/TPHunter.Source.Browser/obj/project.assets.json
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/_IsIncrementalBuild
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/TPHunter.Source.Browser.pdb
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/TPHunter.Source.Browser.GeneratedMSBuildEditorConfig.editorconfig
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/TPHunter.Source.Browser.dll
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/TPHunter.Source.Browser.csproj.FileListAbsolute.txt
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/TPHunter.Source.Browser.csproj.CoreCompileInputs.cache
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/TPHunter.Source.Browser.csproj.AssemblyReference.cache
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/TPHunter.Source.Browser.assets.cache
/Source/TPHunter.Source.Browser/obj/Debug/net5.0/refint/TPHunter.Source.Browser.dll
/Source/TPHunter.Source.Core/bin/Debug/net5.0/TPHunter.Source.Core.pdb
/Source/TPHunter.Source.Core/bin/Debug/net5.0/TPHunter.Source.Core.dll
/Source/TPHunter.Source.Core/obj/Debug/net5.0/ref/TPHunter.Source.Core.dll
/Source/TPHunter.Source.Core/obj/Debug/net5.0/refint/TPHunter.Source.Core.dll
/WebServices/Shared/Utility/TPHunter.WebServices.Shared.Utility.FileStorage/obj/Debug/net5.0
/WebServices/Shared/Utility/TPHunter.WebServices.Shared.Utility.FileStorage/obj
/WebServices/Shared/Utility/TPHunter.WebServices.Shared.Utility.ApiUtility/obj/Debug/netcoreapp3.1
/WebServices/Shared/Utility/TPHunter.WebServices.Shared.Utility.ApiUtility/obj
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Services/obj/Debug/net5.0/ref
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Services/obj/Debug/net5.0/refint
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Services/bin/Debug/net5.0
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Data/obj/Debug/net5.0/refint
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Data/obj/Debug/net5.0/ref
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Data/bin/Debug/net5.0
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Core/obj/Debug/net5.0/ref
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Core/obj/Debug/net5.0/refint
/WebServices/Shared/MainData/TPHunter.WebServices.Shared.MainData.Core/bin/Debug/net5.0
/WebServices/Scrap/TPHunter.WebServices.Scrap.PatentPdf/obj/Debug/net5.0
/WebServices/Scrap/TPHunter.WebServices.Scrap.PatentPdf/obj
/WebServices/Scrap/TPHunter.WebServices.Scrap.API/obj/Debug/net5.0/staticwebassets
/WebServices/Scrap/TPHunter.WebServices.Scrap.API/obj/Debug/net5.0/refint
/Source/TPHunter.Source.Scrapper/obj/Debug/net5.0/refint
/Source/TPHunter.Source.Main/obj/Debug/net5.0/refint
/Source/TPHunter.Source.ImageProcess/obj/Debug/net5.0/refint
